!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Kotlin ###
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/gradlew
/gradlew.bat
/gradle.properties
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/markdown.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/dictionaries/project.xml
/.idea/
/.gradle/

/buildSrc/.gradle/
/buildSrc/build/
/app/build/
/traversal_utils/build/
/build/reports/problems/problems-report.html
/build/reports/configuration-cache/79zujk45d62uqdy3n2ryyf6ec/1fxrb90uq8kn112czcmeg2a18/configuration-cache-report.html
